/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
body {
  background-color: #F0C505 ;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

.wrap {
  margin: 0 auto;
  max-width: 100%; /* change this width to make a wider page!*/
  padding: 0 1em; /* 1em of padding on the left and right side */
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

/* type hierarchy- change for your project */
h1 {
  font-size: 3em; /* 48px */
}

h2 {
  font-size: 2.25em /* 36px */
}

h3 {
  font-size: 1.75em /* 28px */
}

h4 {
  font-size: 1.125em /*18px */
}

/* navigation list styles */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =======================================
    author styles
    place your custom styles below here
========================================== */
img{
display: block;
margin: 0 auto;
}
.heart {
padding-top: 150px;
width: 100%;

}
.under-that h2{
   color: #C0012A;
  font-family: 'Oswald', sans-serif;
   font-size: 35px;
   line-height: 1;
   font-weight: normal;
   text-align: center;
   width: 100%;
   margin: 0;
   padding-top: 70px;
   text-shadow: 2px 2px white;
}
.even-more-under{
  color: #C0012A;
 font-family: 'Oswald', sans-serif;
  font-size: 103px;
  font-weight: normal;
  text-align: center;
  width: 100%;
padding: 0px;
margin: 0px;
padding: 0;
line-height: 1;
text-shadow: 3px 3px white;
}


.left{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  	font-size: 24px;
      float: left;
  width: 300px;
 color: #C0012A;
  text-shadow: 1px 1px white;
  text-shadow: 1px 1px white;
  margin-left: 450px;

}
.even-more-under p {
  padding: 0;
  margin: 0;
}
.glutenn {

float: right;
width: 17%;
margin-right: 400px;
}
.footer {
  padding-top: 500px;
}
.wheattt div{
padding-top: 20px;
padding-bottom: 20px;
}
.top{
  display: block;
  font-size: 40px;
  background-color: #FEFBAF;
  position: fixed;
width: 100%;
top:0;
  }
  .column-full nav {

    background-color: #FEFBAF;
    padding-right: 30px;
  }
  .column-full {
    margin-top: -30px;
    margin-bottom: -20px;
  }
  .under-that{
    float:left;
font-size: 30px;
letter-spacing: 10px;
color: red;
width: 100%;
margin: 0 auto;
position: relative;
top:-10px;

}
.links li{
  display: inline-block;
  margin-right: 10px;
padding-left: 100px;
color: #FE6960;
  color:black;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;

}
/* style visited links */
a:visited {
  color: grey;
}

/* style hover/focus links */
a:hover,
a:active,
a:focus {
  color: #F0C505;

}

header{
  position: fixed;
margin-bottom: 40px;
}

.itstarts {
  width: 40%;
    color: #C0012A;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
    text-shadow: 1px 1px white;
    text-shadow: 1px 1px white;

  }
.itstarts h4{
  margin-left: 20px;
  text-decoration: underline
}

.thejourney{
  color: #C0012A;
    width: 40%;
      font-size: 30px;
      float: right;
      margin-right: 50px;
      text-align: center;
      text-shadow: 1px 1px white;
      text-shadow: 1px 1px white;
}
.thejourney h4{
  text-align: center;
  text-decoration: underline
}

.cheerios4everyone{
  color: #C0012A;
    width: 40%;
      font-size: 30px;
      text-align: center;
      text-shadow: 1px 1px white;
      text-shadow: 1px 1px white;
      margin-left: 50px;
}
.cheerios4everyone h4{
  text-decoration: underline
}

.fotofondo {
  margin-top: 170px;
  margin-left: -115px;

}
.fotofamily {
  float: right;
  margin-top: -515px;
  padding-top: 80px;
  margin-right: -20px;
}
.insta {
  float: right;
  margin-top: -420px;
  margin-right: -74px;
}
.yo {
  margin-top: 100px;
}
.gluten {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #C0012A;
 font-family: 'Oswald', sans-serif;
  font-size: 33px;
  font-weight: normal;
  text-align: center;
  width: 100%;
padding: 0px;
margin: 0px;
padding: 0;
text-shadow: 3px 3px white;
margin-bottom: 0;
padding-bottom: 0;

}
.undergluten {
  text-align: center;
  margin: 0 auto;
  color: white;
 font-family: 'Oswald', sans-serif;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
  width: 100%;
padding: 0px;
margin: 0px;
padding: 0;
line-height: 1;
text-shadow: 3px 3px #C0012A;

}

.fresitas {
  padding-top: 86px;
}

.bamm li{
  margin-left: -40px;
}

.fototetee {
  margin-top: 86px;
  margin-bottom: -140px;

}
.onegram h1{
color: #C0012A;
font-family: 'Oswald', sans-serif;
font-size: 55px;
line-height: 1;
font-weight: normal;
text-align: center;
width: 100%;
margin: 0;
text-shadow: 2px 2px white;
background-color: #FEFBAF;
padding-top: 10px;
padding-bottom: 10px;
margin-top: -10px;

}
.onegram {
  margin-top: 10px;
}
.suga {
  letter-spacing: 7px;
}
.suuga {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 33px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: -50px;
}

table{
  margin-top: 300px;
  border: solid;
  text-align: center;
margin: 0 auto;
margin-top: 100px;
font-size: 25px;
background-color: white;
}
tr{
  border-bottom: solid;
  text-align: left;
padding-left: 5px;
}
.aver li{
  margin-left: -70px;
}

/* =======================================
    Layout
    keep this at the bottom
========================================== */

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full {
    width: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
  }

  .column.half {
    width: 50%;
  }

  .column.third {
    width: 33.3%;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}
